@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core */
body {
    font-family: "Poppins", serif;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}
.logo, .dm-serif {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--primary);
}
