<div class="">
	<nav class="flex items-center justify-between gap-2 p-3">
        <p class="logo text-3xl">todoz</p>
        <button id="menuToggle" class="">
            {{ ux_icon('mdi:menu', { class: 'text-emerald-800 h-6 closed'}) }}
        </button>
	</nav>
	{# <div class="">
		<div class="flex justify-end">
			<button id="menuClose" class="">
				{{ ux_icon('mdi:remove', { class: 'text-red-700 h-6'}) }}
			</button>
		</div>
	</div> #}
</div>
